.errMsg
{
    font-size:16px;
    color:pink;
    font-weight:bold;
}

#msgLabel
{
    font-size:16px;
    color:pink;
    font-weight:bold;

}

#imgSlide
{
    height:501px;
    width:2000px;
}

.carousel-indicators
{
    /*background-color:lightgray; the background of the spots under the pic*/ 
}
body{ 
	direction:rtl;
	padding-top:52px;
	background-color:#f87d35; /* shaul background */ /* was :#033  peach-light :#f87d35 */
	color:#CCC;
}
	
			
.full-container {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
}
			
#menu_items{
	padding-left: 5%;
}
			
.navbar-brand{
	margin-right:20px;
}
			
.navbar .btn{
	margin-left:5px;
	margin-top:15px;				
}
				
.carousel-caption{
	font-size:25px;
	/*background-color:rgba(0,0,0,0.1);*/
	width:100%;
	right:0px;
	color:#FFF;
}
					
#prodacts div{
	padding-top:50px;
	padding-bottom:80px;
	float:right;
	text-align:center;
	color:#CCC;
}


#ImgLink
{
    margin:auto;
	opacity:0.7;
	transition:opacity 0.5s  ;
    -webkit-transition:opacity 0.5s ;
}	

#ImgLink:hover{
	opacity:1;
	cursor:pointer;
}
	
#prodacts div img{
	margin:auto;
	opacity:0.7;
	transition:opacity 0.5s  ;
    -webkit-transition:opacity 0.5s ;   
}
				
#prodacts div img:hover{
	opacity:1;
	cursor:pointer;
}
					
#prodacts div  p{
	width:50%;
	margin:auto;
	padding-top:10px;
}
					
#information{
	border-top: 1px solid #6B6B6B;
	background-color:#3B3B3B;
	padding:30px;
}
				
#information img{
	margin:auto;
}

footer {
	margin-left:40px;
	padding-top:10px;
	}

#EventTypeDropDownList
{
   width:150px;
   color: gray;
   text-emphasis-color:gray;
}

.textboxCss {
   height: 24px;
   width: 150px;
   font-weight: bold;
   border: double 2px #3E7575;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   font-family:"Guttman Yad-Brush";
   /*background-color: #D1FA61"*/
   box-shadow: 0px 1px 2px 0px #9C9C9C;
   outline: none;
   /*color: #474747;*/
   text-align: right;
   BACKGROUND-COLOR: #ffff99;
    COLOR: #000000;
    FONT: normal 100% Verdana,Arial,Sans-Serif;
    font-family:'Guttman Yad-Brush'
  }
.textboxCss:hover  {
   border: 2px solid #DE103C;
  }
.textboxCss:focus  {
   border: solid 2px #00D43C;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
.textboxCss:active  {
   border: solid 2px #0043EB;
  }

.TextBoxCss {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 100px;
    BACKGROUND-COLOR: #ffff99;
    COLOR: #000000;
    FONT: normal 100% Verdana,Arial,Sans-Serif;
    font-family:'Guttman Yad-Brush'
}

.buttonCss {
    font-size: 16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #020C1A;
    padding: 9px 18px;
    text-shadow:1px 1px 0px #5E5E5E;
    -moz-box-shadow:inset 1px 1px 0px 0px #BEE2F9;
    -webkit-box-shadow:inset 1px 1px 0px 0px #BEE2F9;
    box-shadow:inset 1px 1px 0px 0px #BEE2F9;
    font-weight:bold;
    text-decoration:none;
    cursor: pointer;
    background:-webkit-linear-gradient(90deg, #468ccf 5%, #A82B55 100%);
    background:-moz-linear-gradient(90deg, #468ccf 5%, #A82B55 100%);
    background:-ms-linear-gradient(90deg, #468ccf 5%, #A82B55 100%);
    background:linear-gradient(180deg, #A82B55 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#A82B55', endColorstr='#468ccf');
    /*background-color:#468ccf;*/
    color:#FFFFFF;
    display:inline-block;
}
.buttonCss:hover {
    background:-webkit-linear-gradient(90deg, #A82B55 5%, #468ccf 100%);
    background:-moz-linear-gradient(90deg, #A82B55 5%, #468ccf 100%);
    background:-ms-linear-gradient(90deg, #A82B55 5%, #468ccf 100%);
    background:linear-gradient(180deg, #468ccf 5%, #A82B55 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#A82B55');
    /*background-color:#A82B55;*/
}
.buttonCss:active {
    position:relative;
    top:1px;
}


.text_3D{
font-family: ABeeZee ;
line-height: 1em;
color: #0043EB; /* font color */
font-size: 40px;
text-shadow:0px 0px 0 rgb(190,93,153),1px 1px 0 rgb(180,83,143),2px 2px 0 rgb(170,73,133),3px 3px 0 rgb(160,63,123),4px 4px 0 rgb(150,53,113),5px 5px 0 rgb(140,43,103),6px 6px 0 rgb(130,33,93),7px 7px 0 rgb(120,23,83), 8px 8px 0 rgb(110,13,73),9px 9px 8px rgba(0,0,0,0.55),9px 9px 1px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,.2);}


  /* This css button was generated by http://html-generator.weebly.com */



        .selectDefualtOp
        {
            display: none;
            width:200px;
            color: gray;
        }
        h1
        {
            color:blue;
        }
tr {
    height: 40px;
}
       
        